@import "../../colours.scss";
@import "../../mixins.scss";

.content {
  @extend .scrollable;

  background: $white;
  padding: 1rem;
}

.content-title {
  @extend .truncate;
  @extend .shadow;

  z-index: 1;
  font-weight: bold;
  padding: 1rem;
  background: $blue;
  color: #fff;
}