@import "./colours.scss";


*, *:before, *:after {
    box-sizing: border-box;
    position: relative;
}

body, html, #app {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    height: 100%;
    min-height: 100%;
}

.header {
    background: $black;
    color: #fff;
    padding: 1rem;
}

.content {
    background: $white;
    padding: 1rem;
}

.scrollable {
    overflow-y: auto;
    white-space: pre;
    padding: 1rem;
}

.footer {
    background: $silver;
    padding: 1rem;
}

.sidebar {
    background: $navy;
    color: #fff;
    padding: 1rem;
}

.results {
    border-right: 1px solid #ddd;
    width: 14rem;
    background: $silver;
}

.result {
    border-bottom: 1px solid #aaa;
    padding: 1rem;
}

.content-title {
    z-index: 1;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    background: $blue;
    box-shadow: -8px 0 8px 0 rgba(0, 0, 0, .5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}